<legend>Epoch to Date/Time</legend>    
<label for="epoch-time">Epoch:</label><input id="epoch" name="epoch" type="text" value="{{ epoch }}" class="ui-widget-content ui-corner-all" /><br />
<label>GMT:</label><input type="text" value="{{ gmtDateTime }}" readonly="readonly" /><br />
<label>Local:</label><input type="text" value="{{ localDateTime }}" readonly="readonly" /><br />
<input type="hidden" name="panel_id" value="epoch-to-datetime-fs">